<template>
</template>
<script>
    import { utilsCrud } from "./utils"

    export default {
        mixins: [utilsCrud],
        data() {
            return {
                tabelaDados: [],
                excluirId: '',
                modalExcluirOpen: false,
                tabelaLoading: false,
                tabelaPaginacao: {
                    sortBy: '',
                    descending: false,
                    page: 1,
                    rowsNumber: 0,
                    rowsPerPage: 10
                },
                validado: true
            }
        },
        methods: {
            atualizarDados() {
                var a = this.$store.state.dados[`${this.config.storeState}`]
                this.tabelaDados = []
                for (var id in a)
                    this.tabelaDados.push(a[id])
            },
            async executar(nome,obj) {
                if (nome==="listar") {
                    this.$router.push("/"+this.config.entidade+(this.config.listar!==undefined ? "/"+this.config.listar : ""))
                    if (obj instanceof Object || obj===undefined) {
                        this.tabelaLoading = true
                        if (obj===undefined) this.tabelaPaginacao.page = 1
                        var response = await this.$store.dispatch(`dados/${this.config.storeCarregarLista}`,{entidadeApi:this.config.entidadeApi,texto:this.pesquisarTexto,colunas:this.pesquisarColunas,paginacao:this.tabelaPaginacao,include:this.config.include,filter:this.config.filter,filterCount:this.config.filterCount})
                        this.mostrarMsgErro(response)
                        this.$store.commit(response.storeCommit,{storeState:this.config.storeState,itens:response.body})
                        this.mostrarMsgErro(response.responseCount)
                        this.tabelaPaginacao.rowsNumber = response.responseCount ? response.responseCount.body.count : 0
                        this.tabelaLoading = false
                    }
                    this.atualizarDados()
                }
                else if (nome==="criar") {
                    this.dados = {}
                    this.$router.push("/"+this.config.entidade+"/create")
                }
                else if (nome==="editar") {
                    this.$router.push("/"+this.config.entidade+"/edit/"+obj)
                }
                else if (nome==="show") {
                    this.$router.push("/"+this.config.entidade+"/show/"+obj)
                }
                else if (nome==="modalExcluir") {
                    this.excluirId = obj
                    this.modalExcluirOpen = true
                }
                else if (nome==="excluir") {
                    await this.beforeDelete(this.$store.state.dados[`${this.config.storeState}`][this.excluirId])
                    var response = await this.$store.dispatch(`dados/${this.config.storeExcluir}`,{entidadeApi:this.config.entidadeApi,id:this.excluirId})
                    this.mostrarMsgErro(response)
                    await this.afterDelete(this.$store.state.dados[`${this.config.storeState}`][this.excluirId])
                    this.modalExcluirOpen = false
                    this.executar('listar')
                }
                else if (nome==="modalExcluirCancelar") {
                    this.modalExcluirOpen = false
                }
                else if (nome==="salvar") {
                    await this.validar()
                    if (this.validado===true) {
                        var response = await this.$store.dispatch(`dados/${this.config.storeSalvar}`,{entidadeApi:this.config.entidadeApi,salvarTipo:this.config.salvarTipo,dado:this.dado})
                        this.mostrarMsgErro(response)
                        if (response.status===200 && response.ok===true) {
                            await this.afterPost(response.body)
                            this.$router.push("/"+this.config.entidade+"/show/"+response.body.id)
                        }
                    }
                }
                else if (nome==="cancelar") {
                    if (this.config.salvarTipo==='update') this.$router.push("/"+this.config.entidade+"/show/"+this.$route.params.id)
                    else this.$router.push("/"+this.config.entidade)
                }
                else if (nome==="carregarDado") {
                    if (this.$route.params.id!==undefined) {
                        var response = await this.$store.dispatch(`dados/${this.config.storeCarregar}`,{entidadeApi:this.config.entidadeApi,id:this.$route.params.id,include:this.config.include,filter:this.config.filter})
                        this.$store.commit(response.storeCommit,{storeState:this.config.storeState,item:response.body})
                        this.mostrarMsgErro(response)
                        this.dado = this.$store.state.dados[`${this.config.storeState}`][this.$route.params.id]
                        if (response.body.error || this.dado===undefined) this.executar('listar')
                        await this.afterCarregarDado()
                    }
                }
                else if (nome==="imprimir") {
                    if (obj!==undefined) {
                        await this.executar('carregarDado')
                        window.print()
                    }
                    else {
                        var response = await this.$store.dispatch(`dados/${this.config.storeCarregarListaImprimir}`,{entidadeApi:this.config.entidadeApi,texto:this.pesquisarTexto,colunas:this.pesquisarColunas,paginacao:this.tabelaPaginacao,include:this.config.include})
                        this.mostrarMsgErro(response)
                        var a = response.body
                        var dados = {}
                        dados['lista'] = []
                        for (var id in a)
                            dados['lista'].push(a[id])
                        dados['colunas'] = this.imprimirColunas
                        dados['titulo'] = this.tabelaTitulo
                        await this.$store.commit(response.storeCommit,{storeState:this.config.storeState+'_imprimir',dados:dados})
                        window.open(`/imprimirPadrao/${this.config.storeState}_imprimir`,'_blank','location=no,menubar=no,toolbar=no,width='+screen.width+',height='+screen.height)
                    }
                }
                else if (nome==="exportar") {
                    var response = await this.$store.dispatch(`dados/${this.config.storeCarregarListaImprimir}`,{entidadeApi:this.config.entidadeApi,storeState:this.config.storeState+'_imprimir',texto:this.pesquisarTexto,colunas:this.pesquisarColunas,paginacao:this.tabelaPaginacao,include:this.config.include})
                    this.mostrarMsgErro(response)
                    var dados = response.body
                    if (obj==='CSV') {
                        var s = ''
                        for (var item in this.imprimirColunas)
                            s += '"'+this.imprimirColunas[item].label+'";'
                        s += '\n'
                        var d
                        for (var item2 in dados) {
                            for (var item in this.imprimirColunas) {
                                if (this.imprimirColunas[item].name.indexOf('.')>-1) {
                                    var dd = this.imprimirColunas[item].name
                                    d = dados[item2][dd.substring(0,dd.indexOf('.'))]
                                    if (d!==undefined) d = d[dd.substring(dd.indexOf('.')+1)]
                                }
                                else d = dados[item2][this.imprimirColunas[item].name]
                                s += '"'+(d===undefined ? '' : d)+'";'
                            }
                            s += '\n'
                        }
                        this.downloadFile(s,`${this.config.entidade}_`+this.formatarDataHoraArquivo()+'.csv')
                    }
                    else if (obj==='JSON') {
                        this.downloadFile(JSON.stringify(dados),`${this.config.entidade}_`+this.formatarDataHoraArquivo()+'.json')
                    }
                }
            },
            downloadFile(data,filename) {
                var a = document.createElement("a")
                document.body.appendChild(a)
                a.style = "display:none"
                a.href = window.URL.createObjectURL(new Blob([data],{type:'octet/stream'}))
                a.download = filename
                a.click()
                window.URL.revokeObjectURL(a.href)
            },
            async validar() {this.validado = true},
            async afterPost(data) {},
            async beforeDelete(data) {},
            async afterDelete(data) {},
            async afterCarregarDado() {}
        },
        created() {
            //Verifica variaveis de quem esta extendendo
            if (this.dado===undefined) console.error("Para extender esse componente precisa ter o objeto [dado:{}] na funcao data()")
            if (this.config===undefined) console.error("Para extender esse componente precisa ter o objeto [config:{}] na funcao data()")
            if (this.config.salvarTipo===undefined) console.error("Para extender esse componente precisa ter a string [salvarTipo:''] dentro do objeto [config:{}] na funcao data() [usado create/update]")
            if (this.config.entidade===undefined) console.error("Para extender esse componente precisa ter a string [entidade:''] dentro do objeto [config:{}] na funcao data() [usado para as rotas]")
            if (this.config.entidadeApi===undefined) console.error("Para extender esse componente precisa ter a string [entidadeApi:''] dentro do objeto [config:{}] na funcao data() [usado para a chamada do loopback]")
            if (this.config.storeState===undefined) console.error("Para extender esse componente precisa ter a string [storeState:''] dentro do objeto [config:{}] na funcao data() [usado para o store]")
            //carrega variaveis padroes se nao estiverem setadas
            if (this.config.storeCarregarLista===undefined || this.config.storeCarregarLista==='') this.config.storeCarregarLista = 'carregarListaCrudPadrao'
            if (this.config.storeCarregarListaImprimir===undefined || this.config.storeCarregarListaImprimir==='') this.config.storeCarregarListaImprimir = 'carregarListaImprimirCrudPadrao'
            if (this.config.storeCarregar===undefined || this.config.storeCarregar==='') this.config.storeCarregar = 'carregarCrudPadrao'
            if (this.config.storeSalvar===undefined || this.config.storeSalvar==='') this.config.storeSalvar = 'salvarCrudPadrao'
            if (this.config.storeExcluir===undefined || this.config.storeExcluir==='') this.config.storeExcluir = 'excluirCrudPadrao'

            if (this.$route.params.id!==undefined) this.executar('carregarDado')
            else this.afterCarregarDado()
        },
        watch: {
            '$route.params.id': function(id) {
                this.executar('carregarDado')
            },
            'pesquisarTexto': function() {
                this.executar('listar')
            }
        }
    }
</script>