<template>
    <q-modal v-model="modalGaleriaOpen" :no-backdrop-dismiss="true" maximized @show="galeriaShow()" @hide="fecharGaleria()" id="modal-galeria">
        <q-modal-layout>
            <q-toolbar slot="header" class="fixed-top">
                <q-toolbar-title>{{this.$t('galeriaMax')}}{{this.tituloPaginaGaleria}}</q-toolbar-title>
                <q-btn flat round dense icon="close" @click.native="fecharGaleria()"/>
            </q-toolbar>
            <div class="layout-padding no-margin no-padding">
                <div class="flex flex-center items-center" v-for="(item,index) in lista" :key="index" :data-idx="index" v-show="index===idxAtual" :title="formatarDataHora(item.dateCreated)" v-touch-swipe.horizontal="moveSwipe">
                    <img :id="'galeria_item_img_'+item.id" :src="item.srcFull" class="img-galeria responsive" v-if="item.tipo==='I'" v-show="aZoom.clicado===false"/>
                    <video crossorigin="anonymous" :id="'galeria_item_video_'+item.id" class="video-galeria" :style="'height:'+aZoom.h+'px;width:100vw;'" controls loop v-else><source :src="item.srcFull"/></video>
                </div>
                <q-page-sticky position="left" :offset="[5,0]">
                    <q-btn round color="light" @click="moveSlide(-1)" icon="arrow_back_ios"/>
                </q-page-sticky>
                <q-page-sticky position="right" :offset="[5,0]">
                    <q-btn round color="light" @click="moveSlide(1)" icon="arrow_forward_ios"/>
                </q-page-sticky>
                <q-page-sticky position="bottom" :offset="[0,60]" v-if="botaoFoto===true && isVideo===true">
                    <q-btn round color="primary" @click="tirarFoto()" icon="add_a_photo"/>
                </q-page-sticky>
                <div v-show="isVideo===false && aZoom.carregado===true">
                    <div id="div-zoom-img" v-show="aZoom.clicado===true" :style="'cursor:'+(this.aMouseMove.isDown ? 'move' : 'grab')+';'"></div>
                    <img id="zoom-img-size"/>
                    <div id="div-zoom-fundo"></div>
                    <div id="div-zoom-botao">
                        <q-list class="no-padding" no-border>
                            <q-item>
                                <q-btn flat icon="zoom_out" color="primary" @click.native="zoomChange('-')"/>
                                <q-btn flat icon="zoom_in" color="primary" @click.native="zoomChange('+')"/>
                                <q-btn flat color="primary" label="1:1" @click.native="zoomChange('1')"/>
                                <q-btn flat icon="crop_free" color="primary" @click.native="zoomChange('0')"/>
                                <q-btn flat rounded no-caps color="primary" :label="aZoom.percentual"/>
                            </q-item>
                        </q-list>
                    </div>
                </div>
            </div>
        </q-modal-layout>
    </q-modal>
</template>
<script>
    import { utilsCrud } from './utils'
    export default {
        props: ['lista','botaoFoto'],
        mixins: [utilsCrud],
        data() {
            return {
                idxAtual: 0,
                modalGaleriaOpen: false,
                isVideo: false,
                aZoom: {
                    w: 0,
                    h: 0,
                    valor: 0,
                    full: {
                        w: 0,
                        h: 0
                    },
                    original: {
                        w: 0,
                        h: 0
                    },
                    atual: {
                        w: 0,
                        h: 0,
                        id: ''
                    },
                    percentual: '0%',
                    carregado: false,
                    clicado: false
                },
                aMouseMove: {
                    isDown: false,
                    startX: 0,
                    startY: 0,
                    scrollLeft: 0,
                    scrollTop: 0
                }
            }
        },
        computed: {
            tituloPaginaGaleria() {return this.$store.state.dados.tituloPaginaGaleria},
            isOpen() {return this.modalGaleriaOpen}
        },
        methods: {
            zoomChange(v) {
                if (this.aZoom.atual.id==='') {
                    let item = this.lista[this.idxAtual]
                    var element = document.getElementById('galeria_item_img_'+item.id)
                    this.aZoom.original.w = element.clientWidth
                    this.aZoom.original.h = element.clientHeight
                    this.aZoom.atual.w = element.clientWidth
                    this.aZoom.atual.h = element.clientHeight
                    this.aZoom.atual.id = item.id
                }
                if (v==='-') {
                    this.aZoom.atual.w -= this.aZoom.atual.w/10
                    this.aZoom.atual.h -= this.aZoom.atual.h/10
                    this.aZoom.clicado = true
                }
                else if (v==='+') {
                    this.aZoom.atual.w += this.aZoom.atual.w/10
                    this.aZoom.atual.h += this.aZoom.atual.h/10
                    this.aZoom.clicado = true
                }
                else if (v==='1') {
                    this.aZoom.atual.w = this.aZoom.full.w
                    this.aZoom.atual.h = this.aZoom.full.h
                    this.aZoom.clicado = true
                }
                else if (v==='0') {
                    this.aZoom.atual.w = this.aZoom.original.w
                    this.aZoom.atual.h = this.aZoom.original.h
                    this.aZoom.clicado = true
                }
                var element = document.getElementById('div-zoom-img')
                element.style.width = this.aZoom.atual.w+'px'
                element.style.height = this.aZoom.atual.h+'px'
                element.style.marginLeft = '0px'
                if (this.aZoom.atual.w<this.aZoom.w) element.style.marginLeft = ((this.aZoom.w-this.aZoom.atual.w)/2)+'px'
                this.aZoom.percentual = Math.floor((this.aZoom.full.h>this.aZoom.full.w ? this.aZoom.atual.h/this.aZoom.full.h : this.aZoom.atual.w/this.aZoom.full.w)*100)+'%'
            },
            tirarFoto() {
                this.$emit("executar",'foto',this.idxAtual)
            },
            moveSwipe(evt) {
                if (aZoom.clicado===false) {
                    if (evt.direction==='left') this.moveSlide(1)
                    else this.moveSlide(-1)
                }
            },
            moveSlide(i) {
                this.idxAtual += i
                if (this.idxAtual<0) this.idxAtual = 0
                if (this.idxAtual>this.lista.length-1) this.idxAtual = this.lista.length-1
                let item = this.lista[this.idxAtual]
                this.isVideo = item!==undefined && item.tipo==='V'
                this.fecharGaleriaVideo()
                if (this.isVideo===false) {
                    this.aZoom.valor = 0
                    this.aZoom.original = {
                        w: 0,
                        h: 0
                    }
                    this.aZoom.atual = {
                        w: 0,
                        h: 0,
                        id: ''
                    }
                    this.aZoom.carregado = false
                    this.aZoom.clicado = false
                    var element = document.getElementById('div-zoom-img')
                    element.style.backgroundImage = 'url('+item.srcFull+')'

                    element = document.getElementById('zoom-img-size')
                    element.src = item.srcFull
                    element.onload = ()=>{
                        var e = document.getElementById('zoom-img-size')
                        this.aZoom.full.w = e.width
                        this.aZoom.full.h = e.height
                        this.aZoom.carregado = true
                        this.zoomChange()
                    }
                }
            },
            abrirGaleria(idx) {
                this.idxAtual = idx
                this.modalGaleriaOpen = true
            },
            fecharGaleria() {
                this.fecharGaleriaVideo()    
                this.modalGaleriaOpen = false
            },
            fecharGaleriaVideo() {
                var videos = document.getElementsByClassName('video-galeria')
                for (var j=0;j<videos.length;j++) videos[j].pause()
            },
            galeriaShow() {
                this.moveSlide(0)
                var element = document.getElementById('modal-galeria').getElementsByClassName('layout-padding')[0]
                element.style.height = this.aZoom.h+'px'
                for (var item of element.getElementsByClassName('img-galeria')) item.style.maxHeight = this.aZoom.h+'px'
            }
        },
        mounted() {
            this.$nextTick(function(){
                if (this.isVideo===false) {
                    var element = document.getElementById('tamanho-tela')
                    this.aZoom.w = element.clientWidth
                    this.aZoom.h = element.clientHeight-50

                    var ml = Math.floor((this.aZoom.w/2)-150)
                    document.getElementById('div-zoom-fundo').style.marginLeft = ml+'px'
                    document.getElementById('div-zoom-botao').style.marginLeft = ml+'px'

                    var element = document.getElementById('div-zoom-img')
                    element.onmouseup = ()=>{this.aMouseMove.isDown=false}
                    element.onmousedown = (e)=>{
                        this.aMouseMove.isDown = true
                        this.aMouseMove.startX = e.clientX
                        this.aMouseMove.startY = e.clientY
                        var element = document.getElementById('modal-galeria').getElementsByClassName('modal-content')[0]
                        this.aMouseMove.scrollLeft = element.scrollLeft
                        this.aMouseMove.scrollTop = element.scrollTop
                    }
                    element.onmousemove = (e)=>{
                        e.preventDefault()
                        if (this.aMouseMove.isDown) {
                            var element = document.getElementById('modal-galeria').getElementsByClassName('modal-content')[0]
                            element.scrollTo(this.aMouseMove.scrollLeft+(this.aMouseMove.startX-e.clientX),this.aMouseMove.scrollTop+(this.aMouseMove.startY-e.clientY))
                        }
                    }
                }
            })
        }
    }
</script>
<style>
    #modal-galeria .modal-content {
        background-color: #e6e2e2;
    }
    #modal-galeria .q-modal-layout-content, #modal-galeria .layout-padding {
        overflow: hidden;
    }
    #modal-galeria .q-layout-header {
        height: 50px;
    }
    .video-galeria {
        background-color:black;
    }
    #div-zoom-img {
        position: absolute;
        top: 50px;
        background-repeat: no-repeat;
        background-position: top;
        background-size: contain;
    }
    #zoom-img-size {
        opacity: 0;
        top: -50000px;
        left: -50000px;
        position: absolute;
    }
    #div-zoom-fundo {
        bottom: 25px;
        position: fixed;
        width: 300px;
        background-color: #ccc;
        opacity: 0.5;
        height: 52px;
        border-radius: 30px;
    }
    #div-zoom-botao {
        bottom: 25px;
        position: fixed;
        width: 300px;
    }
</style>