<template>
    <q-modal v-model="modalGaleriaOpen" :no-backdrop-dismiss="true" maximized @show="galeriaShow()" @hide="fecharGaleria()" id="modal-galeria">
        <q-modal-layout>
            <q-toolbar slot="header" class="fixed-top">
                <q-toolbar-title>{{this.$t('galeriaMax')}}{{this.tituloPaginaGaleria}}</q-toolbar-title>
                <q-btn flat round dense icon="close" @click.native="fecharGaleria()"/>
            </q-toolbar>
            <div class="layout-padding no-margin no-padding">
                <div class="flex flex-center items-center" v-for="(item,index) in lista" :key="index" :data-idx="index" v-show="index===idxAtual" :title="formatarDataHora(item.dateCreated)" v-touch-swipe.horizontal="moveSwipe">
                    <div class="pinch-wrapper" :style="zoomStyles" @touchstart="touchStart" @touchmove="touchMove" @touchend="touchEnd" v-if="item.tipo==='I'">
                        <img :src="item.srcFull" :id="'galeria_item_img_'+item.id" class="pinch-img" :ref="'image'+index"/>
                    </div>
                    <video playsinline webkit-playsinline crossorigin="anonymous" :id="'galeria_item_video_'+item.id" class="video-galeria" :style="'height:'+aHeight+';width:100vw;'" controls loop v-if="item.tipo==='V' && $q.platform.is.android"><source :src="item.srcFull" type="video/mp4"/></video>
                </div>
                <q-page-sticky position="left" :offset="[5,0]">
                    <q-btn round color="light" @click="moveSlide(-1)" icon="arrow_back_ios"/>
                </q-page-sticky>
                <q-page-sticky position="right" :offset="[5,0]">
                    <q-btn round color="light" @click="moveSlide(1)" icon="arrow_forward_ios"/>
                </q-page-sticky>
                <q-page-sticky position="bottom" :offset="[0,60]" v-if="botaoFoto===true && isVideo===true">
                    <q-btn round color="primary" @click="tirarFoto()" icon="add_a_photo"/>
                </q-page-sticky>
            </div>
        </q-modal-layout>
    </q-modal>
</template>
<script>
    import { utilsCrud } from './utils'
    const DBCLICK_TIME = 200
    export default {
        props: {
            minZoom: {
                type: Number,
                default: 1
            },
            maxZoom: {
                type: Number,
                default: 10
            },
            lista: {
                type: Array,
                default: []
            },
            botaoFoto: {
                type: Boolean,
                default: false
            }
        },
        mixins: [utilsCrud],
        data() {
            return {
                zoom: 1,
                minZoomBounce: .015,
                maxZoomBounce: .015,
                speed: .5,
                lastX: null,
                lastY: null,
                x: 0,
                y: 0,
                zoomCenter: {
                    x: 0,
                    y: 0
                },
                width: window.innerWidth,
                height: window.innerHeight,
                lastTouchTime: null,
                clickTimer: null,
                inMovement: false,
                transition: {
                    transform: null,
                    origin: "transform-origin 400ms linear"
                },
                idxAtual: 0,
                modalGaleriaOpen: false,
                isVideo: false,
                aClientHeight: 0
            }
        },
        computed: {
            zoomStyles() {
                let transition = ''
                if (this.transition.transform) transition += this.transition.transform
                if (this.transition.origin) transition += (transition.length > 0 ? ', ' : '')+this.transition.origin
                return {
                    transform: `scale(${this.zoom}) translate3d(${this.x}px, ${this.y}px, 0px)`,
                    transformOrigin: `${this.zoomCenter.x}px ${this.zoomCenter.y}px 0px`,
                    transition
                }
            },
            tituloPaginaGaleria() {return this.$store.state.dados.tituloPaginaGaleria},
            aHeight() {return this.aClientHeight}
        },
        methods: {
            touchStart(event) {
                event.preventDefault()
                if (event.touches.length===2) this.handlePinchStart(event)
                else if (event.touches.length===1) this.handleTapStart(event)
            },
            touchEnd(event) {
                event.preventDefault()
                if (!this.inMovement && this.zoom<=this.minZoom) {
                    const timeDiff = event.timeStamp-this.lastTouchTime
                    if (timeDiff>DBCLICK_TIME) this.resetZoom()
                }
                else {
                    this.lastX = 0
                    this.lastY = 0
                }
                if (event.touches.length===0 && this.zoom<=1) this.lastTouchTime = event.timeStamp
            },
            touchMove(event) {
                event.preventDefault()
                if (event.touches.length===2) this.handlePinchMove(event)
                else this.handlePanMove(event)
            },
            resetZoom() {
                this.zoom = 1
                this.zoomCenter.x = 0
                this.zoomCenter.y = 0
                this.x = 0
                this.y = 0
                setTimeout(() => {this.transition.transform = null},200);
            },
            handlePinchStart(event) {
                const {x,y} = this.getTouchCenter(this.getTouchesCenter(event.touches[0],event.touches[1]))
                if (this.zoom < this.maxZoom) {
                    this.zoomCenter.x = x
                    this.zoomCenter.y = y
                }
                this.lastDistance = this.getZoomDistance(event.touches[0], event.touches[1])
            },
            handlePinchMove(event) {
                const zoom = this.getZoomDistance(event.touches[0],event.touches[1])
                const last = (zoom/this.lastDistance)
                const scale = this.calcZoom(this.minZoom-this.minZoomBounce,this.maxZoom+this.maxZoomBounce,this.zoom*last)
                if (this.zoom<this.maxZoom || (this.zoom>=this.maxZoom && scale<this.zoom)) this.zoom = scale
                this.lastDistance = zoom
            },
            handlePanMove(event) {
                if (this.zoom>1) {
                    const touch = event.touches[0]
                    const x = touch.clientX
                    const y = touch.clientY
                    if (!this.lastX || !this.lastY) {
                        this.lastX = x
                        this.lastY = y
                        return null
                    }
                    else {
                        const rect = this.$refs['image'+this.idxAtual][0].getBoundingClientRect()
                        let diffX = (x-this.lastX)*this.speed
                        let diffY = (y-this.lastY)*this.speed
                        this.transition.transform = null
                        //apply transform
                        this.x += diffX
                        this.y += diffY
                        //bounds
                        if (rect.left>0 && diffX>0) this.x -= diffX
                        if (rect.right<this.width && diffX<0) this.x -= diffX
                        if (rect.top>0 && diffY>0) this.y -= diffY
                        if (rect.bottom<this.height && diffY<0) this.y -= diffY
                        //to calc the next move
                        this.lastX = x
                        this.lastY = y
                    }
                }
            },
            handleTapStart(event) {
                const touch = event.touches[0]
                const x = touch.clientX
                const y = touch.clientY
                if (!this.lastX || !this.lastY) {
                    this.lastX = x
                    this.lastY = y
                }
                if (this.lastTouchTime) {
                    const timeDiff = event.timeStamp-this.lastTouchTime
                    if (timeDiff<DBCLICK_TIME) {
                        this.handleDoubleTap(event.touches[0])
                        this.lastX = null
                        this.lastY = null
                    }
                }
                this.lastTouchTime = event.timeStamp
            },
            handleDoubleTap(touch) {
                let {x,y} = this.getTouchCenter({x:touch.clientX,y:touch.clientY})
                clearTimeout(this.clickTimeout)
                this.inMovement = true
                this.transition.origin = "transform-origin 400ms linear"
                this.transition.transform = "transform 200ms linear"
                if (this.zoom>this.minZoom) {
                    this.zoom = 1
                    this.x = 0
                    this.y = 0
                    this.clickTimeout = setTimeout(() => {
                        this.zoomCenter.x = 0
                        this.zoomCenter.y = 0
                        this.inMovement = false
                    },200);
                }
                else {
                    this.transition.origin = null
                    this.zoomCenter.x = x
                    this.zoomCenter.y = y
                    this.clickTimeout = setTimeout(() => {
                        this.transition.origin = "transform-origin 400ms linear"
                        this.zoom = this.maxZoom
                        this.inMovement = false
                    },200)
                }
            },
            getTouchCenter({x, y}) {
                const rect = this.$el.getBoundingClientRect()
                return {
                    x: x-rect.left,
                    y: y-rect.top
                }
            },
            calcZoom(e,t,n) {
                return Math.min(t,Math.max(e,n))
            },
            getZoomDistance(e,t) {
                return Math.sqrt(Math.pow(e.clientY-t.clientY,2)+Math.pow(e.clientX - t.clientX, 2))
            },
            getTouchesCenter(touch1,touch2) {
                return {
                    x: (touch1.clientX+touch2.clientX)/2,
                    y: (touch1.clientY+touch2.clientY)/2
                }
            },
            bounds() {
                const rect = this.$refs['image'+this.idxAtual][0].getBoundingClientRect()
                if (rect.left<0) this.x = 0
                else if(rect.right>this.width) this.x = 0
                if (rect.top<0) this.y = 0
                else if(rect.bottom>this.height) this.y = 0
            },
            tirarFoto() {
                this.$emit("executar",'foto',this.idxAtual)
            },
            moveSwipe(evt) {
                if (this.zoom===1) {
                    if (evt.direction==='left') this.moveSlide(1)
                    else this.moveSlide(-1)
                }
            },
            moveSlide(i) {
                this.idxAtual += i
                if (this.idxAtual<0) this.idxAtual = 0
                if (this.idxAtual>this.lista.length-1) this.idxAtual = this.lista.length-1
                let item = this.lista[this.idxAtual]
                this.isVideo = item!==undefined && item.tipo==='V'
                if (this.isVideo && this.$q.platform.is.ios) this.abrirVideoIos(item)
                this.fecharGaleriaVideo()
                this.resetZoom()
            },
            abrirVideoIos(item) {
                console.log(this.$q.platform)
                window.plugins.streamingMedia.playVideo(item.srcFull)
            },
            abrirGaleria(idx) {
                this.idxAtual = idx
                this.modalGaleriaOpen = true
            },
            fecharGaleria() {
                this.fecharGaleriaVideo()    
                this.modalGaleriaOpen = false
            },
            fecharGaleriaVideo() {
                var videos = document.getElementsByClassName('video-galeria')
                for (var j=0;j<videos.length;j++) videos[j].pause()
            },
            galeriaShow() {
                this.moveSlide(0)
                this.aClientHeight = document.getElementById('tamanho-tela').clientHeight-50+'px'
                var element = document.getElementById('modal-galeria').getElementsByClassName('layout-padding')[0]
                element.style.height = this.aClientHeight
                for (var item of element.getElementsByClassName('pinch-wrapper')) item.style.height = this.aClientHeight
            }
        }
    }
</script>
<style>
    .pinch-wrapper {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        align-items: stretch;
        border-width: 0;
        border-style: solid;
        box-sizing: border-box;
        flex-basis: auto;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0;
        padding: 0;
        background-color: transparent;
        color: inherit;
        font: inherit;
        text-align: inherit;
        text-decoration: none;
        list-style: none;
        min-height: 0;
        min-width: 0;
    }
    .pinch-wrapper:hover {
        will-change: transform;
    }
    .pinch-img {
        position: absolute;
        width: auto !important;
        height: auto !important;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        max-width: 100%;
        max-height: 100%;
        object-position: center;
        margin: auto;
    }
    #modal-galeria .modal-content {
        background-color: #e6e2e2;
    }
    #modal-galeria .q-modal-layout-content, #modal-galeria .layout-padding {
        overflow: hidden;
    }
    #modal-galeria .q-layout-header {
        height: 50px;
    }
    .video-galeria {
        background-color:black;
    }
</style>