<template>
    <div class="row">
        <q-table class="col-md-12" :title="tabelaTitulo" :data="tabelaDados" :columns="tabelaColunas" row-key="id" :hide-bottom="true" :no-data-label="$t('tabelaNoDataLabel')" :pagination.sync="imprimirPaginacao">
            <q-tr slot="body" slot-scope="props" :props="props">
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                    {{buscarNome(col,props)}}
                </q-td>
            </q-tr>
        </q-table>
    </div>
</template>
<script>
    import { utilsCrud } from "./utils"

    export default {
        name: 'PageIndex',
        data() {
            return {
                imprimirPaginacao: {page:1,rowsPerPage:0}
            }
        },
        mixins: [utilsCrud],
        computed: {
            tabelaDados() {return this.$store.state.dados[`${this.$route.params.id}`].lista},
            tabelaColunas() {return this.$store.state.dados[`${this.$route.params.id}`].colunas},
            tabelaTitulo() {return this.$store.state.dados[`${this.$route.params.id}`].titulo}
        },
        methods: {
            buscarNome(col,props) {
                var value = ''
                if (col.value!==undefined) {
                    if (col.name.indexOf('.')>-1) {
                        try {
                            value = col.value[col.name.substring(col.name.indexOf('.')+1)]
                        }
                        catch(e) {}
                    }
                    else value = col.value
                }
                if (col.tipo!==undefined) {
                    if (col.tipo.nome==='Boolean') value = value===true ? 'Sim' : 'Não'
                    else if (col.tipo.nome==='Datetime') value = this.formatarDataHora(value)
                    else if (col.tipo.nome==='Date') value = this.formatarData(value)
                    else if (col.tipo.nome==='Time') value = this.formatarHora(value)
                    else if (col.tipo.nome==='Idade') value = this.formatarIdade(props.row[col.tipo.campo])
                }
                return value
            }
        },
        created() {
            window.print()
        }
    }
</script>